/* RESET RULES*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
    width: 100%;
}

html {
    background-image: url("../img/cork.png");
}

/* HEADER */

.header-container {
    background-image: url("../img/wall.png");
    text-align: center;
    align-content: center;
    height: 150px;
}

.header-container h1 {
    font-size: 80px;
}

/* MAIN */

.col-container {
    max-width: 1024px;
    margin: 0 auto;
	padding: 0 120px;
    
}

.col-container .row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.card {
    width: 33%;
}